* {
    padding: 0;
    margin: 0;
}
.navbar {
   
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}


.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span {
    color: crimson;
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
    color: #fff;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover {
    color: crimson;
}

.navbar.sticky .menu li a:hover {
    color: #fff;
}

html { 
    background-color: #000000; 
}

header{
    text-align: center;
    margin: 50px;
	padding: 0; 
}

h1#head { 
    font-size: 50px;
    font-family: Cursive;
    color: rgb(247, 11, 11);
    padding: 343px;
    text-align: center;
}

h1#result {
    font-size: 30px;
    font-family: Verdana;
    color: chocolate;
    text-align: center;
    margin-bottom: 30px;
}

canvas {
    border: 3px solid dodgerblue; 
    background-color: lightyellow;
    text-align: center;
	display: block;
	float: left;
}

#game {
    position: relative;
    width: 650px; 
    height: 322px;
    margin: 0 auto;
}

#tic {
    position: relative;
    margin: 22px auto;
    width: 318px;
    height: 318px;
    display: inline-block;
    float: left;
	border: 55px solid dodgerblue; 
}

#rules {
    position: relative;
    width: 318px;
    height: 318px;
    text-align: center;  
}


h2 {
    font-size: 35px;
    color: brown;
    text-align: center;
}
h3{
    font-size: 26px;
    margin: 15px;
    padding: 30px;
    color: brown;
    width: 323px;
    text-align: justify;
}

button {
    margin-top: 25px; 
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    font-family: cursive;
    background-color: rgb(245, 248, 245);
    color: red;
    border: 1px solid black; 
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.7);
	border-radius: 3px;
}

canvas:hover {
    background-color: rgb(38, 109, 133);
}

button:hover {
    background: rgb(0, 3, 0);
}
#new{
    position: relative;
    height: 90px;
    text-align: center;
    display: inline-block;
    float: right;
}

